body {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(img/island.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 2rem;
}

h1 {
  color: #59ff73;
  font-family: "Pacifico", cursive;
  font-size: 7.5em;
  text-align: center;
}

.table {
  color: white;
  margin: 0 auto;
  max-width: 240px;
  text-align: center;
}
